@import '../Variables/variables';
.buttons {
    button {
        @include buttons(.2%)
    }
}

.comment-list {
    list-style-type: none;
    padding-left: 2%;
    .like-comments {
        @include center-items(row, space-between, center);
        width: 100%;
        font-size: .9em;
    }
    li {
        @include center-items(column, center, start);
        box-shadow: 0 0px 0.1em $text-color;
        background-color: rgba(96, 94, 94, 0.08);
        margin-block: 2%;
        @extend .comment-list;
        span {
            box-icon {
                width: 18px;
                padding-top: 15%;
            }
        }
    }
}

.comment-content {
    textarea {
        border-top: none;
        font-size: .7em;
    }
}

.post-icons {
    h6 {
        &:hover {
            text-decoration: underline $main-color;
            cursor: pointer;
        }
    }
}