@import "../Variables/variables";
#large-app {
    .listUl {
        @include center-items(row, center, start);
        flex-wrap: wrap;
        .list-item {
            width: 48%;
        }
    }
}

.listUl {
    padding-left: 0;
    list-style-type: none;
    align-self: self-start;
    flex-grow: 1;
    width: 100%;
    .list-item {
        @include padd("pi-w-c-list-item", 100%, 1%);
        &:first-of-type {
            .post {
                box-shadow: 0px 1px 1px $nav-color;
            }
        }
    }
}

.postList {
    flex-grow: 1;
    @include center-items(column, center, center);
    .loader {
        @extend .postList;
    }
}

.post {
    margin-block: 6%;
    box-shadow: 0px 0px 5px $nav-color;
    border-radius: 4px;
    padding: 3%;
    @include center-items(column, center, unset);
    .header {
        border-block: 1px dashed silver;
        padding-block: 0.2em;
        @include center-items(row, start, center);
        img {
            @include padd(true, 30px, 30px);
            margin-right: 3%;
            border-radius: 10px;
        }
    }
    .description {
        font-family: get($fonts, "poppins"), get($fonts, "sf");
        letter-spacing: 1.5px;
        color: $text-color;
    }
    .post-icons {
        @extend .header;
        box-icon {
            @include extender("img");
            margin-right: 2%;
            @include padd(true, 20px, initial);
            opacity: 0.5;
            pointer-events: none;
        }
    }
    .other-icons {
        @extend .post-icons;
        @include padd(true, initial, 3em);
        border-bottom: none;
        span {
            flex-grow: 1;
        }
    }
    .isUser {
        box-icon {
            opacity: 1;
            pointer-events: all;
        }
    }
    .isNot {
        box-icon {
            opacity: 1;
            pointer-events: all;
        }
    }
    button {
        @include buttons(0.3%);
        max-width: 50px;
    }
}

.media {
    img {
        width: 2.3em;
        border: 1px dashed goldenrod;
        margin: 2%;
        border-radius: 8%;
    }
}

.loader img {
    max-width: 80%;
}

iframe {
    width: 100%;
}

.lk {
    +box-icon {
        fill: blue;
    }
}