<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Snitcher </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styling.css">
    <link rel="stylesheet" href="/css/youtubeAPI.css">
    <script src="https://kit.fontawesome.com/aa92b69017.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrapvalidate.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        input[name=youtubeVid] {
            width: 10rem;
        }
        
        input[type=search] {
            margin-left: 80px;
        }
        
        a {
            color: rgb(31, 6, 6) !important;
        }
        
        .navbar {
            height: 100px;
        }
        
        .searchdiv {
            /* width: 100%; */
            height: 70vh;
            /* background-color: rgb(48, 66, 75); */
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-right: 0%;
            /* overflow: auto; */
            box-shadow: -2px 5px 5px rgb(17, 16, 16);
            display: none;
        }
        
        .change-display {
            display: flex;
        }
        
        .searchlist {
            border: 1px solid rgb(242, 255, 129);
            border-left: none;
            border-right: none;
            border-left: none;
            list-style-type: none;
            min-height: 8%;
        }
        
        .inline-buttons {
            display: none;
            height: 30px;
            border: 1px solid white;
            border-radius: 5px;
            background-color: white;
            color: brown;
        }
        /* .searchlist:hover {
        box-shadow: 1px 2px #234b24;
    } */
        
        .searchlist:hover .inline-buttons {
            display: inline;
        }
        /* .searchlist:active {
        text-shadow: rgb(24, 23, 20) 1px 0 1px;
    } */
        
        .secondrow {
            /* border: 1px solid rgb(94, 94, 0);
        border-right: none;
        border-bottom: none;
        border-top: none; */
        }
        
        .firstrow {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        .thumbnail-image {
            width: 90px;
            height: 70px;
        }
        
        .component-div {
            overflow: auto;
            height: 65vh;
        }
        
        .sidebar-list-item {
            list-style-type: none;
        }
        
        .sidebar-image {
            width: 90px;
            height: 50px;
        }
        
        .searchdiv>div {}
        
        @media (max-width:960px) {
            input[type=search] {
                margin-left: 0px;
            }
        }
        
        @media (max-width:1280px) {
            .searchbutton {
                width: 15px;
                color: transparent;
            }
            input[type=search] {
                margin-left: 0px;
            }
        }
    </style>


</head>

<body class="d-flex flex-column">
    <%- include("../partials/navbar") %>
        <div class="row display-popup mt-3 add-flash">
            <div class="col-1"></div>
            <div class="col-10 bg-gradient searchdiv row">

                <div class="col-4 formrow">
                    <form action="/index" id="select" method="post" novalidate class="cs-validate">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title:</label>
                            <input type="text" name="thought[title]" class="form-control" id="exampleFormControlInput1" placeholder="e.g. How to learn faster" required>
                        </div>
                        <div class="form-group imgappend">
                            <label for="exampleFormControlTextarea1">thought:</label>
                            <textarea class="form-control" required name="thought[description]" rows="4" placeholder="what have you been thinking..."></textarea>
                        </div>
                        <button class="btn btn-info mt-2 px-3" type="submit">Create New</button>
                        <a href="/index" class="btn btn-warning mt-2">Cancel</a>
                    </form>
                </div>
            </div>
            <div class="col-1"></div>

            <% if(currentUser){ %>
                <p class="d-none"> hello world</p>
                <% } %>

                    <main class="mt-5 main">
                        <%- include("../partials/flash") %>
                            <%- body %>
                    </main>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
                    </script>
                    <script src="/js/draft.js"></script>
                    <script src="/js/bootstrapvalidate.js"></script>
                    <!-- <script src="/js/youtubeAPI.js"></script> -->

</body>

</html>
<script>
    const searchDiv = document.querySelector('.searchdiv');

    let sendTitle = ''
    let passMeObject = {
        titleArray: [],
        imageArray: [],
        // videoIdArrays: []
    }


    const functions = {
        modifySearchDiv(res) {
            searchDiv.classList.add('row');
            const firstRow = document.createElement('div');
            const secondRow = document.createElement('div');
            const componentDiv = document.createElement('div');
            const thirdRow = document.createElement('div');

            componentDiv.classList.add('component-div');
            firstRow.classList.add('col-4', 'firstrow');
            secondRow.classList.add('col-4', 'secondrow');
            thirdRow.classList.add('third-row', 'col-4');
            searchDiv.append(firstRow, secondRow);
            firstRow.append(componentDiv);
            secondRow.innerHTML = `<div class="">
                    <input type="search" class="form-control d-inline" name="youtubeVid" id="search">
                    <button class="searchbutton btn btn-secondary mb-1">Search</button>
                </div>
                `;
            this.searchEventListener()
            passMeObject.componentDiv = componentDiv;
            passMeObject.secondRow = secondRow;
        },
        createRows(data) {
            for (let i = 0; i < data.items.length; i++) {
                const list = document.createElement('li');
                const img = document.createElement('img');
                img.classList.add('thumbnail-image');
                img.src = data.items[i].snippet.thumbnails.default.url;
                list.classList.add('searchlist');
                list.append(img);
                list.append(data.items[i].snippet.title);
                passMeObject.componentDiv.append(list)
                passMeObject.titleArray.push(data.items[i].snippet.title)
                passMeObject.imageArray.push(data.items[i].snippet.thumbnails.default.url)

                function createInlineButton() {
                    const addButton = document.createElement('button')
                    addButton.classList.add('btn-secondary', 'inline-buttons');
                    addButton.innerText = 'A-T-R';
                    list.append(addButton);
                }
                createInlineButton()
            }
        },
        searchEventListener() {
            const searchField = document.querySelector('input[name=youtubeVid]')
            const searchButton = document.querySelector('.searchbutton')

            searchButton.addEventListener('click', (e) => {
                e.preventDefault();
                const data = {
                    term: searchField.value
                };
                fetch(`http://${link}/search`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        functions.createRows(data);
                        functions.sidebarSelection()
                    })
                    .catch(e => console.log('Something went wrong', e))
            })

        },

        sidebarSelection() {
            const inlineButtons = document.querySelectorAll('.inline-buttons');
            const imgAppend = document.querySelector('.imgappend');


            if (inlineButtons.length) {
                for (let i = 0; i < inlineButtons.length; i++) {
                    inlineButtons[i].addEventListener('click', function addEvent() {

                        function addSelection() {
                            //creating the elements
                            const li = document.createElement('li');
                            const img = document.createElement('img');
                            const div = document.createElement('div');
                            const titleInput = document.createElement('input');
                            const urlInput = document.createElement('input');


                            //adding classes to style elements
                            img.classList.add('sidebar-image')
                            li.classList.add('sidebar-list-item')
                            urlInput.classList.add('url-input')
                            titleInput.classList.add('title-input')

                            //image, title and dynamic input 
                            img.src = passMeObject.imageArray[i];
                            li.innerText = passMeObject.titleArray[i];
                            titleInput.value = passMeObject.titleArray[i];
                            urlInput.value = img.src;
                            titleInput.name = 'thought[media]';
                            urlInput.name = 'thought[media]';
                            titleInput.hidden = true;
                            urlInput.hidden = true;

                            //appending the elements
                            div.append(img);
                            div.append(li);
                            passMeObject.secondRow.append(div);
                            imgAppend.append(urlInput);
                            imgAppend.append(titleInput);
                            inlineButtons[i].removeEventListener('click', addEvent);
                        }
                        addSelection()
                    })
                }
            }
        },
        toggleSearchDiv() {
            const newThought = document.querySelector('.newthought');
            const currentUser = document.querySelector('p[class="d-none"]');
            console.log(currentUser);

            let toggler = 0
            newThought.addEventListener('click', () => {
                toggler += 1;
                if (currentUser) {
                    if (toggler === 1) {
                        searchDiv.classList.add('change-display')
                    } else {
                        searchDiv.classList.remove('change-display')
                        toggler = 0;
                    }
                } else {
                    const flashDiv = document.createElement('div');
                    const addFlash = document.querySelector('.add-flash');
                    flashDiv.innerHTML = `
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                        You Must Be Logged In. 
                        <span type="button" class="close" data-dismiss="alert" aria-label="Close" >
                            <span aria-hidden="true" > &times; </span> 
                        </span> 
                    </div>`
                    addFlash.insertAdjacentElement('beforebegin', flashDiv)
                }
            })
        }
    }

    functions.modifySearchDiv();
    functions.toggleSearchDiv();
</script>