<% layout("layouts/boilerplate")%>
    <style>
        body {
            background-color: rgba(177, 177, 177);
            margin-top: -5%;
            overflow: hidden;
        }
        
        .div-img {
            height: 130vh;
            margin-top: -6%;
        }
        
        img {
            margin: 0;
            height: 100%;
        }
        
        .navbar {
            display: none;
        }
        
        .paragraph,
        a {
            position: absolute;
            display: none;
        }
        
        .paragraph {
            top: 250px;
            width: 40%;
            left: 75px;
        }
        
        .div-img a {
            top: 401px;
            left: 295px;
            display: none;
        }
        
        .div-img a:nth-of-type(1) {
            left: 395px;
        }
        
        .div-img a:nth-of-type(3) {
            left: 485px;
        }
        
        @media (max-width:746px) {
            .paragraph {
                width: 64%;
            }
            .div-img a {
                left: 160px;
                top: 391px
            }
            .div-img a:nth-of-type(1) {
                left: 255px;
                top: 390px;
            }
            .div-img a:nth-of-type(3) {
                left: 165px;
                top: 441px;
            }
        }
        
        @media (max-width:440px) {
            .img-div {
                background-color: white;
            }
            img {
                display: none;
            }
            .div-img a {
                left: 83px;
                top: 80%;
            }
            .div-img a:nth-of-type(1) {
                left: 67%;
                top: 80%;
            }
            .div-img a:nth-of-type(3) {
                left: 82px;
                top: 88%;
                width: 66%;
            }
            .paragraph {
                top: 26%;
                left: 19%;
            }
        }
    </style>
    <div class="div-img">
        <img src="/photo_files/snitcher.gif" alt="">
        <p class="paragraph">Welcome to Snitcher, a platform where you can make thoughts with the support of youtube resources to better illustrate your points. <i>Try it now!</i></p>
        <% if(!currentUser){ %>
            <a href="/login" class="btn btn-success">Log In</a>
            <a href="/register" class="btn btn-info">Sign Up</a>
            <% } %>
                <a href="/index" class="btn btn-primary">Browse Thoughts</a>
    </div>

    <script>
        const paragraph = document.querySelector('p');
        const links = document.querySelectorAll('.div-img > a')

        setTimeout(() => {
            paragraph.style.display = 'block'
            links.forEach((el) => {
                el.style.display = 'block'
            })
        }, 3000)
    </script>