<% layout("layouts/boilerplate")%>
<h1>Hello Admin</h1>
<span class="navbar-brand">Bootstrap Navbar Brand. </span>
<div class="bg-gradient py-5 ps-5 bg-black">
   <span class="text-muted">I'm just waiting for my gradient background color.</span> 
</div>
