<% layout("layouts/boilerplate")%>
    <style>
        li>b {
            color: crimson;
        }
        
        li>i {
            color: red;
            font-weight: bolder;
        }
        
        .ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .set-div-h {
            height: fit-content;
            border-radius: 0;
            max-width: 30%;
        }
        
        .inline-image {
            width: 40px;
            height: 38px;
            border-radius: 3px;
        }
        
        .description {
            max-height: 60vh;
            overflow: hidden;
        }
        
        a.btn.btn-info {
            margin-bottom: 3px;
        }
        
        @media (max-width:600px) {
            .set-div-h {
                max-width: 45%;
            }
        }
        
        @media (max-width:470px) {
            .set-div-h {
                max-width: 100%;
            }
        }
        /* @media (max-width:960px) {
            .col-4 {
                width: 50%;
            }
        } */
        
        @media (max-width:850px) {
            .firstrow {
                position: absolute;
                width: 100% !important;
                height: 106px;
                top: 431px;
                left: 0;
                background-color: tomato;
            }
            .secondrow {
                height: 95%;
                overflow: auto;
                flex-grow: 1;
            }
            .formrow {
                flex-grow: 1;
            }
            h1 {
                display: none;
            }
            .ul {
                margin-top: 64px;
            }
            .searchdiv {
                height: 55vh;
            }
        }
        
        @media (max-width:440px) {
            .searchdiv {
                width: 100%;
                margin-left: -9px;
            }
            .firstrow {
                width: 100% !important;
            }
            a[href="/index"]:nth-of-type(1),
            button[type="submit"] {
                font-size: 10px;
            }
        }
        
        @media (max-width:532px) {
            .searchbutton {
                position: absolute;
                top: 116px;
                opacity: 0.3;
            }
        }
    </style>

    <h1 class="ms-5 mb-3">Thoughts</h1>
    <ul class="ul">
        <% for(thought of list){ %>
            <div id="overflow" class="card mb-3 flex-row set-div-h">
                <div class="">
                    <h2 class="card-header">
                        <%=thought.title%>
                    </h2>
                    <li class="card-header description">
                        <%=thought.description%>
                    </li>
                    <li class="card-header py-2"><a class="btn btn-info" href="/index/<%=thought._id%>">Show Details</a>
                        <% if (thought.media && thought.media.length){ %>
                            <%  thought.media.forEach((el, i)=>{ %>
                                <%  if(i%2 === 0){ %>
                                    <span class="d-inline">
                                        <img src="<%=thought.media[i]%>" class="inline-image" alt="">
                                    </span>
                                    <% }%>
                                        <%})%>
                                            <%}%>
                    </li>
                </div>
            </div>
            <% } %>
    </ul>