<% layout("layouts/boilerplate")%>
    <style>
        .registry {
            background-color: white;
            padding-top: 50px;
            padding-bottom: 50px;
            border-radius: 10px;
        }
        
        body {
            background-color: rgba(177, 177, 177, 0.22);
            height: 100vh;
        }
        
        @media (max-width:890px) {
            .col-3 {
                /* width: 100%; */
                flex-grow: 2;
            }
            .col-4 {
                width: 20%;
            }
        }
        
        @media (max-width:302px) {
            .col-4 {
                width: 10%;
            }
        }
        
        @media (max-width:146px) {
            .col-3 {
                width: 100%;
            }
        }
    </style>

    <div class="row">
        <div class="col-4"></div>
        <div class="registry col-3">
            <h1>Register</h1>
            <form action="/register" class="cs-validate" method="post" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Enter username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Jakobe..." id="username" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Enter email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Jakobe@abc" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Enter password:</label>
                    <input type="password" class="form-control" name="password" placeholder="password" id="password" required>
                </div>

                <button class="btn btn-success">Register</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>