@import "../Variables/variables";
main {
    min-height: 94vh;
}

#large-app {
    .sidebar {
        background-color: $main-color;
        ul {
            li {
                margin-bottom: 15%;
                padding-block: 8%;
                box-shadow: -6px 5px 4px;
                a {
                    color: $nav-color;
                }
            }
        }
    }
}

.sidebar {
    background-color: $nav-color;
    flex-grow: 1;
    ul {
        height: 100%;
        @include center-items(column, flex-start, start);
        padding-left: unset;
        li {
            width: 100%;
            a {
                padding-inline: 2%;
                margin-block: 1%;
                width: 100%;
                color: $main-color;
                @include center-items(row, space-between);
                text-decoration: none;
                span {
                    max-width: 80%;
                    font-family: get($fonts, mutka);
                    animation: show-up 2s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                img {
                    width: 1.5em;
                    height: 1.5em;
                }
            }
            @keyframes show-up {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}