@import '../Variables/variables';
.auth {
    flex-grow: 1;
    @include center-items(row, center, start);
    flex-wrap: wrap;
    margin-top: 35%;
    .alert {
        padding-block: 0.1em;
        width: 85%;
        font-size: .7em;
        @include center-items(row, space-between, center);
        p {
            margin-bottom: unset;
        }
        button {
            &:last-of-type {
                border: 1px solid #198754;
            }
        }
    }
    form {
        box-shadow: 0 0 1px black;
        border-radius: 5px;
        padding: 15%;
    }
    input,
    label {
        font-size: .8em;
    }
    button {
        @include buttons(.5%);
        margin-top: .5em;
        padding-block: .4em;
        &:last-of-type {
            border: none;
        }
    }
    footer {
        @extend label;
        a {
            text-decoration: none;
        }
    }
}

.registry {
    button {
        padding-inline: .8em;
    }
}

.logout {
    padding: 4%;
}

.star-form {
    input {
        &::after {
            content: '*'
        }
    }
}