@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
$fonts:( mutka: 'Mukta',
sf: sans-serif,
poppins:'Poppins');
$main-color: rgb(77,
132,
132);
$nav-color: rgb(35,
74,
20);
$text-color:rgb(13,
19,
13);
$bar-color:#000;
@mixin center-items($format,
$spacing,
$align:center) {
    display: flex;
    flex-direction: $format;
    justify-content: $spacing;
    align-items: $align;
}

@mixin position($position) {
    position: $position;
    top: 0;
    align-self: flex-start;
    width: 100%;
}

@mixin w($width) {
    width: $width
}

@mixin bars {
    display: block;
    content: '';
    @include w(1em);
    border: 1px solid #000;
}

@mixin keyframe($transX,
$val) {
    @keyframes smooth-show {
        from {
            transform: translateX($transX)
        }
        to {
            transform: translateX($val)
        }
    }
}

@mixin smooth-show($name) {
    animation: $name .6s cubic-bezier(0.075, 0.82, 0.165, 1)
}

@mixin bar-transitions($on:true,
$x-val:0em) {
    @if $on {
        transform: translateX($x-val);
        @include smooth-show(smooth-show);
    }
    @include keyframe(0,
    $x-val)
}

@mixin extender($value) {
    @extend #{$value};
}

@function get($name,
$key) {
    @return map-get($name,
    $key)
}

@mixin padd($val1:false,
$val2:false,
$val3:false) {
    @if $val1=='pi-w-c-list-item' {
        color: $main-color;
        width: $val2;
        padding-inline: $val3;
    }
    @else {
        width: $val2;
        height: $val3;
    }
}